<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">

    <title>New User</title>
</head>

<body>
    <h1>Add New User</h1>
    <form action="/addUser" method="post">
        <input name="name" placeholder="name"> <br>
        <input name="email" placeholder="e-mail" type="email"> <br>
        <input type="submit" value="add user">
    </form>
    <br>
    <a href="/users"><button>go back to users</button></a>
</body>

</html>
