<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <a href="/new">Add new user</a>
    <ul>
    {{#each users}}
      <li><a href="/edit/{{id}}">edit user</a> {{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
